extends layout

block content
  a(href='https://github.com/anders94/blockchain-demo/')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1 Blockchain Demo
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='https://www.youtube.com/embed/_160oMzblY8')
    br
    p.pull-right by 
      a(href='http://andersbrownworth.com/') Anders Brownworth 
      | 1K3NvcuZzVTueHW1qhkG2Cm3viRkh2EXJp

    .well.exercise-container
      h2 Welcome to the Blockchain Curriculum
      p This interactive demo is designed to teach the fundamentals of blockchain technology through hands-on experimentation. 
      p We recommend following the demo in this order:
      ol
        li 
          strong 
            a(href='/hash') Hash
          |  - Understand the "Digital Fingerprint" of data.
        li 
          strong 
            a(href='/block') Block
          |  - Learn how data and nonces combine to create a valid block.
        li 
          strong 
            a(href='/blockchain') Blockchain
          |  - See how blocks link together to create an immutable history.
        li 
          strong 
            a(href='/distributed') Distributed
          |  - Explore how multiple peers agree on a single truth.
        li 
          strong 
            a(href='/tokens') Tokens
          |  - See how transactions are recorded on the ledger.
        li 
          strong 
            a(href='/coinbase') Coinbase
          |  - Understand how new money is created in the system.
      p
        em Look for the "Learning Exercises" section at the bottom of each page to guide your discovery!
